@using BugBanisher.Models.ViewModels;

@model CreateOrEditTicketViewModel

@inject UserManager<AppUser> UserManager

@{
    string createOrEdit = (string)ViewData["Action"]!;
}

<div class="pagetitle">
<h1>@createOrEdit Ticket</h1>
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Tickets</li>
        <li class="breadcrumb-item active">@createOrEdit</li>
    </ol>
</nav>
</div>

<form asp-controller="Tickets" asp-action="@(createOrEdit == "Create" ? "CreateTicket" : "EditTicket")" method="post">
    <input type="hidden" asp-for="Ticket.Id"/>
    <input type="hidden" asp-for="Ticket.Title"/>
    <input type="hidden" asp-for="Ticket.ProjectId"/>
    <input type="hidden" asp-for="Ticket.DeveloperId" />
    <input type="hidden" asp-for="Ticket.Created" />
    <input type="hidden" asp-for="Ticket.CreatorId" />
    <input type="hidden" asp-for="Ticket.Description"/>
    <input type="hidden" asp-for="Ticket.TicketStatusId"/>
    <input type="hidden" asp-for="Ticket.TicketPriorityId"/>
    <input type="hidden" asp-for="Ticket.TicketTypeId"/>

    <div class="row">

        <div class="col-lg-6 mt-lg-0 mt-3">

            <div class="form-group">
                <label asp-for="Title">Ticket Title</label>
                <input class="form-control" asp-for="Title" />
            </div>

            <div class="form-group mt-3">
                <label asp-for="Description">Ticket Description</label>
                <textarea class="form-control" asp-for="Description" cols="15" rows="10"></textarea>
            </div>

            <div class="form-group mt-3">
                <label asp-for="Developers">Developer</label>
                <select class="form-select" asp-items="@Model.Developers" asp-for="SelectedDeveloper">
                    <option value="@null">Unassigned</option>
                </select>
                <span class="ms-2 text-muted">Don't see who you're looking for? Make sure they're a member of the project.</span>
            </div>

            <div class="form-group mt-3">
                <label asp-for="Types">Type</label>
                <select class="form-select" asp-items="@Model.Types" asp-for="SelectedType">
                </select>
            </div>

            <div class="form-group mt-3">
                <label asp-for="Priorities">Priority</label>
                <select class="form-select" asp-items="@Model.Priorities" asp-for="SelectedPriority">
                </select>
            </div>

            @if (Model.Ticket.Developer is not null && (await UserManager.GetUserAsync(User)).Id == Model.Ticket.Developer.Id)
            {
                <div class="form-group mt-3">
                    <label asp-for="Statuses">Status</label>
                    <select class="form-select" asp-items="@Model.Statuses" asp-for="SelectedStatus">

                    </select>
                </div>
            }
            else
            {
                <div class="form-group mt-3">
                    <label asp-for="Statuses">Status</label>
                    <select class="form-select" asp-items="@Model.Statuses" asp-for="SelectedStatus" disabled>

                    </select>
                    <span class="ms-2 text-danger text-small">Only the developer can set the ticket status</span>
                    <input type="hidden" asp-for="SelectedStatus" value="@Model.Ticket.TicketStatusId">
                </div>
            }

            <div class="form-group mt-3 text-center">
                <button type="submit" class="btn btn-success">@(createOrEdit == "Create" ? "Create" : "Save Changes")</button>
                <a class="btn btn-outline-secondary ms-3" asp-controller="Projects" asp-action="ViewProject" asp-route-projectId="@Model.Ticket.ProjectId">Cancel</a>
            </div>

        </div>
    </div>
</form>