@using BugBanisher.Models.ViewModels;

@model TicketListViewModel

@{
    string ticketListType = Model.TicketListType;

    int pageNumber = int.Parse(Model.PageNumber);
    int perPage = int.Parse(Model.PerPage);
    int numberOfPages = (Model.Tickets.Count / perPage) + 1;

    bool canPrevPage = pageNumber > 1;
    bool canNextPage = pageNumber < numberOfPages;

    IEnumerable<Ticket> sortedTickets = Model.SortBy switch
    {
        "Project Name" => Model.Tickets.OrderBy(t => t.Project!.Name),
        "Priority" => Model.Tickets.OrderBy(t => t.TicketPriorityId),
        "Developer" => Model.Tickets.OrderBy(t => t.DeveloperId),
        "Status" or _ => Model.Tickets.OrderBy(t => t.TicketStatusId),
    };
}

<div class="pagetitle">
    <h1>@ticketListType Tickets</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Tickets</li>
            <li class="breadcrumb-item active">@ticketListType</li>
        </ol>
    </nav>
</div>

<div class="card p-2 pt-4">
    <div class="card-body mb-0">
        <div class="card-text">
                @if (ticketListType == "Action Required")
                {
                    <text>
                        These tickets require some action by the developer or project manager.< br />
                        Either the developer has not been assigned, has not accepted the assignment, or they have placed the ticket on hold.
                    </text>
                }
                else if (ticketListType == "Open")
                {
                    <text>
                        These are all of the open tickets (not archived or complete) across all projects.
                    </text>
                }
                else if (ticketListType == "Completed")
                {
                    <text>
                        These tickets have been marked as completed but have not been archived. Consider archiving them - you will still be able to view the ticket
                        details, but changes cannot be made and the ticket won't appear on any of the active ticket lists.
                    </text>
                }
        </div>
    </div>
</div>

<!-- Sort & Paging Options -->
<div class="row mb-3">
    <div class="col">

        <form asp-controller="Tickets" asp-action="List@(Model.TicketListType)Tickets" method="get">

            <span>Sort by</span>
            <select class="d-inline" asp-items="@Model.SortByOptions" asp-for="SortBy">
            </select>

            <span class="ms-3">Show</span>
            <select class="d-inline" asp-items="@Model.PerPageOptions" asp-for="PerPage">
            </select>
            <span>per page</span>

            <button class="btn btn-sm btn-success ms-3" type="submit"
                    asp-route-sortBy="@Model.SortBy" asp-route-pageNumber="@Model.PageNumber" asp-route-perPage="@Model.PerPage">
                Go
            </button>
        </form>

    </div>
</div>

<!-- Tickets Table -->
<table class="table table-bordered table-hover bg-light">

    <thead>
        <tr>
            <th>Ticket Title</th>
            <th>Project</th>
            <th>Developer</th>
            <th class="text-center">Priority</th>
            <th>Type</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>
        @if (sortedTickets.Count() == 0)
        {
            <tr>
                <td class="text-center" colspan="6">
                    There are no @Model.TicketListType.ToLower() tickets to show.
                </td>
            </tr>
        }
        @foreach (Ticket ticket in sortedTickets.Skip((pageNumber - 1) * perPage).Take(perPage))
        {
            <tr>
                <td><a asp-action="ViewTicket" asp-route-ticketId="@ticket.Id">@ticket.Title</a></td>
                <td>@ticket.Project!.Name</td>
                @if (ticket.Developer is not null)
                {
                    <td>@ticket.Developer.FullName</td>
                }
                else
                {
                    <td class="text-danger">Unassigned</td>
                }
                <td class="text-center"><span class="@Model.GetPriorityFormatting(@ticket.TicketPriorityId)">@ticket.Priority!.Description</span></td>
                <td>@ticket.Type!.Description</td>
                <td class="@Model.GetStatusFormatting(@ticket.TicketStatusId)">
                    @ticket.Status!.Description 
                    @if (ticketListType == "Completed")
                    {
                        <a asp-action="ArchiveTicket" asp-route-ticketId="@ticket.Id">Archive</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
    

<!-- Paging -->

<p class="text-muted">
    @{
        int startingEntry = sortedTickets.Count() == 0 ? 0 : (pageNumber - 1) * perPage + 1;
        int endingEntry = Math.Min(sortedTickets.Count(), startingEntry + perPage - 1);
    }
    Showing @startingEntry to @endingEntry of @(sortedTickets.Count())
</p>

@if (sortedTickets.Count() > perPage)
{
    @if (canPrevPage)
    {
        <a class="btn btn-sm btn-outline-info" asp-action="List@(Model.TicketListType)Tickets"
            asp-route-sortBy="@Model.SortBy" asp-route-pageNumber="@(pageNumber-1)" asp-route-perPage="@Model.PerPage">
            Prev
        </a>
    }

    @if (pageNumber > 4)
    {
        <span class="ms-2">...</span>
    }

    @for (int i = Math.Max(pageNumber - 3, 1); i <= Math.Min(pageNumber + 3, numberOfPages); i++)
    {
        string active = i == pageNumber ? "btn-info" : "btn-outline-info";

        <a class="btn btn-sm @active ms-2" type="button" asp-action="List@(Model.TicketListType)Tickets"
            asp-route-sortBy="@Model.SortBy" asp-route-pageNumber="@i" asp-route-perPage="@Model.PerPage">
            @i
        </a>
    }

    @if (pageNumber < numberOfPages - 3)
    {
        <span class="ms-2">...</span>
    }

    @if (canNextPage)
    {
        <a class="btn btn-sm btn-outline-info ms-2" asp-action="List@(Model.TicketListType)Tickets"
            asp-route-sortBy="@Model.SortBy" asp-route-pageNumber="@(pageNumber+1)" asp-route-perPage="@Model.PerPage">
            Next
        </a>
    }
}