@inject UserManager<AppUser> UserManager

@model IEnumerable<Project>

@{
    string activeOrArchived = (string)ViewData["ProjectType"]!;
}


<div class="pagetitle">
    <h1>@activeOrArchived Projects</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Projects</li>
            <li class="breadcrumb-item active">@activeOrArchived</li>
        </ol>
    </nav>
</div>

@foreach (Project project in Model)
{
    AppUser? projectManager = await UserManager.FindByIdAsync(project.ProjectManagerId);

    <div class="row mb-3">
            <div class="card">
                <div class="card-header">
                    <div class="row d-flex align-items-center justify-space-between">
                        <div class="col col-lg-6">
                            <img class="img-fluid d-block d-md-inline" src="data:image/*;base64,@Convert.ToBase64String(project.PictureData)" width="50" height="50" />
                            <h5 class="card-text d-block d-md-inline ms-0 ms-md-2 mt-2 mt-md-0">@project.Name</h5>
                            <a class="btn btn-success btn-sm ms-3" asp-controller="Projects" asp-action="ViewProject" asp-route-projectId="@project.Id">View</a>
                        </div>
                        @if(projectManager is not null)
                        {
                            <div class="col col-lg-6 mt-3 mt-lg-0">
                                <p class="card-text d-block d-md-inline">Project Manager: </p>
                                <img class="img-fluid rounded-circle d-block d-md-inline ms-0 ms-md-2" width="50" height="50" src="data:img/*;base64,@Convert.ToBase64String(projectManager.PictureData)">
                                <p class="d-inline ms-0 ms-md-2">@projectManager.FullName</p>
                            </div>
                        }
                        else
                        {
                            <div class="col col-lg-6 mt-3 mt-lg-0">
                                <p class="card-text d-block d-md-inline">Project Manager: <span class="fw-bold text-danger">Unassigned</span></p>
                            </div>
                        }
                    </div>
                </div>
                <div class="card-body mt-2">
                    <p class="card-text">@project.Description</p>
                    <p class="card-text"><strong>Tickets:</strong> @project.Tickets.Count</p>
                </div>
            </div>
    </div>
}
