@using BugBanisher.Models.ViewModels

@model ProjectViewModel

@inject UserManager<AppUser> UserManager
@inject IFileService FileService

@{
	AppUser user = await UserManager.GetUserAsync(User);
	bool currentUserIsProjectManager = (Model.ProjectManager is not null && Model.ProjectManager.Id == user.Id);

	string activeOrArchived = Model.Project.IsArchived ? "Archived" : "Active";
}

<div class="pagetitle">
	<h1>View Project: @Model.Project.Name</h1>
	<nav>
		<ol class="breadcrumb">
			<li class="breadcrumb-item">Projects</li>
			<li class="breadcrumb-item">@activeOrArchived</li>
			<li class="breadcrumb-item active">@Model.Project.Name</li>
		</ol>
	</nav>
</div>

<div class="row">

	<!-- Project Info Card -->
	<div class="col-lg-2 mb-3 mb-lg-0">
		@if (Model.Project.PictureData is not null)
		{
			<img src="data:image/*;base64,@Convert.ToBase64String(Model.Project.PictureData)" class="img-fluid" width="225" height="225" />
		}
		else
		{
			<img src="~/@FileService.GetDefaultProjectPicPath()" class="img-fluid" width="225" height="225"/>
		}

		@if (Model.Project.IsArchived)
		{
			<div class="d-flex justify-content-start mt-2">
				<p class="text-danger">Project is currently archived. Unarchive it to make changes.</p>
			</div>
		}
	</div>
	<div class="col-lg-5">
			<div class="card">
				<div class="card-header">
					<h5 class="card-text">Project Info: <strong>@Model.Project.Name</strong></h5>
					<div class="row d-flex justify-content-start">
						<div class="col">
							@if (User.IsInRole(nameof(Roles.Admin)) || currentUserIsProjectManager)
							{
								@if (!Model.Project.IsArchived)
								{
									<a class="btn btn-sm btn-outline-info mt-2" asp-controller="Projects" asp-action="EditProject" asp-route-projectId="@Model.Project.Id" title="Edit"><i class="bi bi-pencil-fill"></i></a>
									<a class="btn btn-sm btn-outline-warning mt-2 ms-2" asp-controller="Projects" asp-action="ConfirmArchiveProject" asp-route-projectId="@Model.Project.Id" title="Archive"><i class="bi bi-archive"></i></a>
								}
								else
								{
									<a class="btn btn-sm btn-outline-warning mt-2 ms-2" asp-controller="Projects" asp-action="ConfirmUnarchiveProject" asp-route-projectId="@Model.Project.Id" title="Unarchive"><i class="bi bi-archive"></i></a>
								}
							}
							@if (User.IsInRole(nameof(Roles.Admin)))
							{
								<a class="btn btn-sm btn-outline-danger mt-2  ms-2" asp-controller="Projects" asp-action="ConfirmDeleteProject" asp-route-projectId="@Model.Project.Id" title="Delete"><i class="bi bi-trash"></i></a>
							}
					</div>
					</div>
				</div>
				<div class="card-body">

					<p class="card-text mt-3">
						<strong>Description:</strong><br/><br/>
						@Model.Project.Description
					</p>

					<div class="d-flex">

						<div class="col">
							<p class="card-text"><strong>Created:</strong>
							<br/>@Model.Project.Created.ToShortDateString()
							</p>
						</div>
					
						<div class="col">
							<p class="card-text"><strong>Deadline:</strong>
							<br/>@Model.Project.Deadline.ToShortDateString()
							</p>
						</div>
					
					</div>

					<p class="card-text mt-3">@((Model.Project.Deadline - DateTime.Now).Days) days remaining</p>
					<div class="progress mt-0">
					@{
						float daysUsed = (DateTime.Now - Model.Project.Created).Days;
						float totalDays = (Model.Project.Deadline - Model.Project.Created).Days;
						float percentComplete = (daysUsed / totalDays) * 100;
					}
						<div class="progress-bar progress-bar-striped" role="progressbar" style="width: @(percentComplete)%" aria-valuenow="@percentComplete" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</div>
			</div>

	</div>

	<!-- Project Team Card -->
	<div class="col-lg-5">
		<div class="card">
				<div class="card-header">
					<h5 class="card-text">Project Team</h5>
				</div>
				<div class="card-body">

					<!-- Project Manager -->
					<p class="card-text mt-3"><strong>Project Manager:</strong></p>
					<div class="d-flex">
						@if (Model.ProjectManager is null)
						{
							<div class="flex-shrink-0">
								<img src="~/@FileService.GetDefaultUserPicPath()" class="rounded-circle" width="50" height="50">
							</div>
							<div class="flex-grow-1 align-self-center">
								<p class="card-text text-danger fw-bold ms-3">Unassigned!</p>
						</div>
					}
					else
					{
						<div class="flex-shrink-0">
							@if (Model.ProjectManager.PictureData is not null)
							{
								<img src="data:image/*;base64,@(Convert.ToBase64String(Model.ProjectManager.PictureData))" class="rounded-circle" width="50" height="50">
							}
							else
							{
								<img src="~/@FileService.GetDefaultUserPicPath()" class="rounded-circle" width="50" height="50">
							}
						</div>
							<div class="flex-grow-1 align-self-center">
								<p class="card-text ms-3"><a asp-controller="Company" asp-action="ViewEmployee" asp-route-userId="@Model.ProjectManager.Id">@Model.ProjectManager.FullName</a></p>
							</div>
						}
					</div>
				
					<hr />

					<!-- Developers -->
					<p class="card-text mt-3"><strong>Developers:</strong></p>
					@if (Model.Developers.Count == 0)
					{
						<p class="card-text">No developers are assigned to this project.</p>
					}
					@foreach (AppUser developer in Model.Developers)
					{
						<div class="d-flex mt-2 mb-2">
							<div class="flex-shrink-0">
								@if (developer.PictureData is not null)
								{
									<img src="data:image/*;base64,@(Convert.ToBase64String(developer.PictureData))" class="rounded-circle" width="50" height="50">
								}
								else
								{
									<img src="~/@FileService.GetDefaultUserPicPath()" class="rounded-circle" width="50" height="50">
								}
							</div>
							<div class="flex-grow-1 align-self-center">
								<p class="card-text ms-3"><a asp-controller="Company" asp-action="ViewEmployee" asp-route-userId="@developer.Id">@developer.FullName</a></p>
							</div>
						</div>
					}

					<hr/>

					<!-- Members -->
					<p class="card-text mt-3"><strong>Members:</strong></p>
					@if (Model.Members.Count == 0)
					{
						<p class="card-text">No members are assigned to this project.</p>
					}
					@foreach (AppUser member in Model.Members)
					{
						<div class="d-flex">
							<div class="flex-shrink-0">
								@if (member.PictureData is not null)
								{
									<img src="data:image/*;base64,@(Convert.ToBase64String(member.PictureData))" class="rounded-circle" width="50" height="50">
								}
								else
								{
									<img src="~/@FileService.GetDefaultUserPicPath()" class="rounded-circle" width="50" height="50">
								}
							</div>
							<div class="flex-grow-1 align-self-center">
								<p class="card-text ms-3"><a asp-controller="Company" asp-action="ViewEmployee" asp-route-userId="@member.Id">@member.FullName</a></p>
							</div>
						</div>
					}

				</div>
		</div>
	</div>

	<!-- Active Tickets Card -->
	<div class="col-12">
		
		<div class="card">
			<div class="card-header">
				<h5 class="card-text d-inline">Active Tickets</h5>
				@if (!Model.Project.IsArchived && (User.IsInRole(nameof(Roles.Admin)) || User.IsInRole(nameof(Roles.ProjectManager)) || User.IsInRole(nameof(Roles.Developer))))
				{
					<a class="btn btn-sm btn-success mb-3 d-inline ms-3" asp-controller="Tickets" asp-action="CreateTicket" asp-route-projectId="@Model.Project.Id">Create Ticket</a>
				}
			</div>

			<div class="card-body">
					@if (Model.Tickets.Where(t => t.TicketStatusId != "complete" && !t.IsArchived).Count() == 0)
					{
						<p class="card-text text-center mt-2">There are no active tickets.</p>
					}
					else
					{
						<div class="table-responsive">
							<table class="table table-sm table-bordered table-light mt-4">

								<colgroup>
									<col width="350">
									<col width="150">
									<col width="300">
									<col width="150">
									<col width="150">
									<col width="150">
								</colgroup>

								<thead class="table-light">
									<tr>
										<th>Ticket</th>
										<th class="text-center">Created</th>
										<th class="text-center">Assigned Developer</th>
										<th class="text-center">Priority</th>
										<th class="text-center">Type</th>
										<th class="text-center">Status</th>
									</tr>
								</thead>

								<tbody>
										@foreach (Ticket ticket in Model.Tickets)
										{
											if (ticket.TicketStatusId != "complete" && !ticket.IsArchived)
											{
												<tr class="align-middle">
													<td>
														<a asp-controller="Tickets" asp-action="ViewTicket" asp-route-ticketId="@ticket.Id">
															<i class="bi bi-ticket-detailed-fill"></i>
															<p class="text-primary d-inline">@ticket.Title</p>
														</a>
													</td>
													<td class="text-center">@ticket.Created.ToShortDateString()</td>
													<td class="@Model.GetDeveloperTextFormat(ticket) text-center">
														@(ticket.Developer is not null ? ticket.Developer.FullName : "Unassigned!")
													</td>
													<td class="text-center"><span class="badge @Model.GetPriorityBadgeFormat(ticket)">@ticket.Priority!.Description</span></td>
													<td class="text-center">@ticket.Type!.Description</td>
													<td class="text-center"><span class="@Model.GetStatusTextFormat(ticket)">@ticket.Status!.Description</span></td>
												</tr>
											}	
										}
								</tbody>

							</table>
						</div>
					}
			</div>
		</div>
	</div>

	<!-- Completed Tickets Card -->
	<div class="col-12">

		<div class="card">
			<div class="card-header">
				<h5 class="card-text d-inline">Completed Tickets</h5>
			</div>

			<div class="card-body">

				@if (Model.Tickets.Where(t => t.TicketStatusId == "complete" && !t.IsArchived).Count() == 0)
				{
					<p class="card-text text-center mt-2">
						There are no completed tickets (or they've all been archived).
					</p>
				}
				else
				{
					<div class="table-responsive">

						<table class="table table-sm table-bordered table-light mt-4">

							<colgroup>
								<col width="350">
								<col width="150">
								<col width="300">
								<col width="150">
								<col width="150">
								<col width="150">
							</colgroup>
						
							<thead class="table-light">
								<tr>
									<th>Ticket</th>
									<th class="text-center">Created</th>
									<th class="text-center">Assigned Developer</th>
									<th class="text-center">Priority</th>
									<th class="text-center">Type</th>
									<th class="text-center">Status</th>
								</tr>
							</thead>

							<tbody>
								@foreach (Ticket ticket in Model.Tickets)
								{
									if (ticket.TicketStatusId == "complete" && !ticket.IsArchived)
									{
										<tr class="align-middle">
											<td>
												<a asp-controller="Tickets" asp-action="ViewTicket" asp-route-ticketId="@ticket.Id">
													<i class="bi bi-ticket-detailed-fill"></i>
													<p class="text-primary d-inline">@ticket.Title</p>
												</a>
											</td>
											<td class="text-center">@ticket.Created.ToShortDateString()</td>
											<td class="text-center @Model.GetDeveloperTextFormat(ticket)">@(ticket.Developer is not null ? ticket.Developer.FullName : "")</td>
											<td class="text-center"><span class="badge @Model.GetPriorityBadgeFormat(ticket)">@ticket.Priority!.Description</span></td>
											<td class="text-center">@ticket.Type!.Description</td>
											<td class="text-center"><span class="@Model.GetStatusTextFormat(ticket)">@ticket.Status!.Description</span></td>
										</tr>
									}
								}
							</tbody>

						</table>

					</div>
				}
			</div>
		</div>
	</div>

	<!-- Archived Tickets Card -->
	<div class="col-12">

		<div class="card">
			<div class="card-header">
				<h5 class="card-text d-inline">Archived Tickets</h5>
			</div>

			<div class="card-body">
				@if (Model.Tickets.Where(t => t.IsArchived).Count() == 0)
				{
					<p class="card-text text-center mt-2">
						There are no archived tickets.
					</p>
				}
				else
				{
					<div class="table-responsive">

						<table class="table table-sm table-bordered table-light mt-4">

							<thead class="table-light">
								<tr>
									<th>Ticket</th>
								</tr>
							</thead>

							<tbody>
									@foreach (Ticket ticket in Model.Tickets)
									{
										if (ticket.IsArchived)
										{
											<tr class="align-middle">
												<td>
													<a class="text-muted" asp-controller="Tickets" asp-action="ViewTicket" asp-route-ticketId="@ticket.Id">
														<i class="bi bi-ticket-detailed-fill"></i>
														<p class="text-muted d-inline">@ticket.Title</p>
													</a>
												</td>
											</tr>
										}
									}
							</tbody>

						</table>
					</div>
				}
			</div>
		</div>
	</div>
</div>
